
<%= javascript_pack_tag 'hello_react' %>

<!-- <div id="app"></div> -->


<div class="container">

<h1><%= @shop_session.domain %></h1>

<hr>

<h2>Webhooks</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>


  <!-- <h1 id="page-title">YOU ARE CONNECTED ON THE STORE : <%= @shop.shopify_domain %></h1> -->
  <hr>
  <div class="actions">
    <h1>What do you wanna do ?</h1>
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#destroyOrdersModal">
      Destroy all orders
    </button>
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#destroyCustomersModal">
      Destroy all customers
    </button>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createSomeOrders">
      Create some orders
    </button>

    <% if @shop_session.domain ==  "lespetitsbidons.myshopify.com" %>
      <%= link_to 'Import Orders LPB', import_orders_path, remote: true, class: 'btn btn-lg btn-primary '  %>
      <%= link_to 'Import customers LPB', import_customers_path, remote: true, class: 'btn btn-lg btn-primary '  %>
    <% end %>




  </div>

  <div class="contents">

    <div class="content card">

      <h1>PRODUCTS : <%= @products.size  %></h1>

      <ul>
        <% @products.each do |product| %>
          <li><%= link_to product.title, "https://#{@shop_session.domain}/admin/products/#{product.id}", target: "_top" %></li>
        <% end %>
      </ul>
    </div>

    <div class="content card">

      <h1>CUSTOMERS : <%= @customers.size  %></h1>

      <ul>
        <% @customers.each do |customer| %>
          <li><%= link_to customer.first_name, "https://#{@shop_session.domain}/admin/customer/#{customer.id}", target: "_top" %></li>
        <% end %>
      </ul>

    </div>

    <div class="content card">

    <h1>ORDERS : <%= @orders.size  %></h1>

      <ul>
        <% @orders.each do |order| %>
          <li><%= link_to order.name, "https://#{@shop_session.domain}/admin/order/#{order.id}", target: "_top" %></li>
        <% end %>
      </ul>
    </div>
  </div>


      <h1>Webhooks</h1>

      <% if @webhooks.present? %>
        <ul>
          <% @webhooks.each do |webhook| %>
            <li><%= webhook.topic %> : <%= webhook.address %></li>
          <% end %>
        </ul>
      <% else %>
        <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
      <% end %>


</div>


<div id="destroyOrdersModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vous êtes sur de vouloir détruire toutes les orders ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Nous allons effacer toutes les orders de ces 2 derniers mois</p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Destroy all orders', destroy_all_order_path, remote: true, class: 'btn btn-lg btn-danger ' %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
<div id="destroyCustomersModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vous êtes sur de vouloir détruire toutes les Customers ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Nous allons effacer tous les Customers (les orders doivent etre vide)</p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Destroy all customers', destroy_all_customers_path, remote: true, class: 'btn btn-lg btn-danger destroy_customer ' %>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
<div id="createSomeOrders" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nous allons Créer 6 orders</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
    <%= link_to 'Create some orders', create_sample_orders_path, remote: true, class: 'btn btn-lg btn-primary ' %>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
